head
  title Vessel

body


  +loginButtons

  if currentUser
    .shell
      form
        //input(type="text", placeholder="insert Userid")
        //input#SendToEmail(placeholder='insert email to send to', name="email")
        //.sendEmailToUser.button Send
          

      .links-list
        h2 Unsent
        each links
          +link

        h2 Sent Links
        each sent_links
          +link
  else
    +login

  
  


template(name="login")
  div
    //h1 When do you want your emails to come?
    //input( type="text", value="8pm")




  //http://jonthornton.github.io/jquery-timepicker/


template(name="addLink")
  form.add-link
    input(type="text" name='text' placeholder="Add Link")

template(name="link")
  .link( id='{{_id}}')
    .title
      img.favicon(src="{{fav_icon_url}}")
      .text {{link_title}}
    .url {{link_url}}
    .ownerEmail {{ownerEmail}}
    .isSent Is sent {{sent}}
    input(type='checkbox')
    .remove