include separator

// Basic Paragraph Style
tr(width=width)
	td(valign='top', width='390', colspan="2")
		p(style='margin: 24px 0 16px; color:#9b928f; font-size: 16px; line-height: 18px; text-align:center;')
			| What doesn't work for you? Do you have suggestions? 
			a(href="contact.html", style="color:#7a6a64; font-weight:bold;") Contact Me
		p(style='margin:0 0 24px; color:#9b928f; font-size: 16px; line-height: 18px; text-align:center;')
			| If you want to stop it, 
			a(href='{{unsub "http://redirecturl.com"}}', style="color:#7a6a64; font-weight:bold;") Unsubscribe