td(valign='top', width='186', style='position: relative;' )
	img(style='width: 186px; height: 201px; position:absolute; bottom:0;', align='right', height='201', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/paul-face.jpg', width='187')