tr(style='', width="100%")
	td(valign='top', width='100%', colspan='2')
		p(style='padding: 0; text-align: center;')
			img(align='none', width='147', height='29', src='https://gallery.mailchimp.com/85fa9b289574f17996df3126d/images/71959f2d-b01f-4f35-ad8a-cb9d2ddbe7e7.png', style='width: 147px; height: 29px;' )