extends helpers/layout

block head
	title Churn

block content

	tr(style="background-color: #23b4f8;")
		td(valign='top', colspan='2')
			p(style='margin: 48px 0 48px 0; padding:0 50px; font-size:38px; line-height:36px; font-weight:bold; text-align:center; color:#ffffff;')
				| Give us your feedback

	+spacer( 24 )
	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Hi Aviator - 
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Thanks for trying out Yahoo Aviate.  We’ve noticed that you stopped using Aviate recently and we’d love to better understand how we can improve. 
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| We want to build the best homescreen we can, so we’d love any feedback you may have to make Yahoo Aviate better.
			p(style='margin: 24px 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| The following survey will take no more than 5 minutes to complete:

	tr(style=backgroundColor, align="center", width="100%")
		td(valign='top', colspan='2')
			a( href="https://www.getfeedback.com/r/keZsyaOD", title="	Tell us what you think", style="display:inline-block; margin:24px auto 8px; padding:20px 40px; background:#23b4f8; border-bottom:3px solid #1F88DE; font-size:20px; color:white; font-weight:bold; text-decoration:none;") Tell us what you think

	+spacer( 24 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Thank you for your time, help and insight - keep flyin’!

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Paul, Mark, Will and the Aviate Crew

	+spacer( 24 )