extends helpers/layout

block head
	title Customization to Inactive

block content

	tr(style="background-color: #ffc641;")
		td(valign='top', colspan='2')
			p(style='margin: 48px 0 48px 0; padding:0 50px; font-size:38px; line-height:36px; font-weight:bold; text-align:center;')
				| Smarter App Recommendations
	
	+spacer( 32 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Hi Aviator,
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Now that you’re settled in, take advantage of Aviate’s app recommendations! Aviate recommends apps based on what you have installed and the latest ratings within Google Play.



	+spacer( 24 )
	+separator( 16 )
	+spacer( 32 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| To see your recommended apps, go to one of your Collections:
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| <strong>1.</strong> Tap on the arrow in the top-right corner and you’ll see all the apps in your Collection, as well as a gray 'New' square, with a big ‘+’. 
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/day10-1.jpg', alt="Watch Aviate in action here", style='width:80%; margin:24px 0 24px 50px;  text-align:center;' )
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| <strong>2.</strong> Tap on this square and you’ll see a top-rated app for that Collection. Note that if you’re looking in your ‘Social’ Collection, you’ll only see social app recommendations, in ‘News,’ you’ll only news-related apps, etc. 
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/day10-2.jpg', alt="Watch Aviate in action here", style='width:80%; margin:24px 0 24px 50px;  text-align:center;' )
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| <strong>3.</strong> Tap ‘ADD’ and the app icon will be added to your Collection by default. To authorize installation, tap the app icon in your Collection and you’ll be sent to the Play Store. 
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| You can also swipe your finger to the left over the dialogue to see other recommendations.
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/day10-3.jpg', alt="Watch Aviate in action here", style='width:80%; margin:24px 0 24px 50px;  text-align:center;' )
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| As always, you can press and drag app icons to move them between Collections. 


	+spacer( 24 )
	+separator( 16 )
	+spacer( 16 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Tweet us 
				a( href="https://twitter.com/intent/tweet?text=.@Aviate", title="Aviate") @Aviate 
				|  with any questions or feedback you may have!

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Keep flyin’!

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - The Aviate Crew


	+spacer( 24 )