extends helpers/layout

block head
	title Customization to Inactive

block content

	tr(style="background-color: #ffc641;")
		td(valign='top', colspan='2')
			p(style='margin: 48px 0 48px 0; padding:0 50px; font-size:38px; line-height:36px; font-weight:bold; text-align:center;')
				| Invite your friends!
	
	+spacer( 32 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Hi Aviator,
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| We’re so glad to have you as a member of the Aviate Crew.


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| Fly with friends
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| All Aviate Beta users get five unique invite codes to share! We'd love for you to invite 5 friends you think will love how Aviate simplifies and organizes their Android phone. 

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| To invite a friend:
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| 1. <strong>Swipe</strong> to the ‘Spaces’ screen on the left.
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| 2.Tap the <strong>‘Invite’ button at the bottom of the page</strong>.
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| 3. Enter an email address.


	+spacer( 24 )
	+separator( 16 )
	+spacer( 16 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Thanks for sharing the love - keep flyin’!

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - The Aviate Crew

	+spacer( 24 )