extends helpers/layout

block head
	title Day 3

block content

	tr(style="background-color: #23b4f8;")
		td(valign='top', colspan='2')
			p(style='margin: 48px 0 48px 0; padding:0 50px; font-size:38px; line-height:36px; font-weight:bold; text-align:center; color:#ffffff;')
				| Make it yours!
	
	+spacer( 32 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Hi there, Aviator!
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| We hope you're enjoying Aviate! Here are a couple more tricks to help you get the most out of your phone and make it feel more “you.”  

	+spacer( 24 )
	+separator( 16 )
	+spacer( 16 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| 1. <a href="http://bit.ly/aviateshortcuts">Create a Shortcut</a>
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Get one-tap access to your favorite websites, playlists and more! Swipe to your A-Z Apps and tap the arrow in the top-right corner to see a list of shortcuts you can create and add to your Favorites or Collections. 
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/ShortcutGif.gif', alt="Watch Aviate in action here", style='width:100%; margin:24px 0 0 0;  text-align:center;' )


	+spacer( 24 )
	+separator( 16 )
	+spacer( 16 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| 2. <a href="http://bit.ly/aviateiconpacks">Customize with an Icon Pack</a>
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Make your homescreen feel like “home” with an icon pack — downloadable themes that jazz up the icons on your phone. Swipe to your Spaces menu and tap “Settings.” Next, tap “Set Icon Pack,” to load an icon pack or download a new one.
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/IconPackGif.gif', alt="Watch Aviate in action here", style='width:100%; margin:24px 0 0 0;  text-align:center;' )
			p(style='margin: 16px 0 0px 0; padding:0 50px; font-size: 12px; line-height: 22px; color:#8b8b8b; text-align:center;')
				| We currently support icon packs built for ADW, Apex and Nova launchers.

	+spacer( 16 )
	+separator( 16 )
	+spacer( 24 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| We hope you’re loving Aviate! Have you made sure to tell your phone to “Always” complete actions using Aviate? We hear the best way to learn how to swim is to dive in headfirst. ;-) (And don’t worry, you can always change this in your Settings later.) 

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Check out our 
				a( href="http://bit.ly/aviatehelp", title="Aviate Help") Help pages
				|  or tweet us 
				a( href="https://twitter.com/intent/tweet?text=.Simplify%20your%20phone,%20simplify%20your%20life.%20%23getsimple%20%23getaviate%20http://bit.ly/getAviate", title="Aviate") @Aviate
				|  with any questions. 

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Keep flyin’!

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - The Aviate Crew

	+spacer( 24 )