extends helpers/layout

block head
	title Index

block content

	tr(style=backgroundColor, width=width)
		td(valign='top', width=width, colspan='2')
			p(style='padding: 35px 30px 0 50px; margin-bottom:0; font-size:17px; line-height: 27px;')

				a(href="day1.html", style="display:block;") Day 1
				a(href="day3.html", style="display:block;") Day 3
				a(href="day7.html", style="display:block;") Day 7
				|- 
				a(href="launch-active-betas.html", style="display:block;") Launch Active Betas
				a(href="launch-inactive-betas.html", style="display:block;") Launch Inactive Betas
				|- 
				a(href="gingerbread-active.html", style="display:block;") Gingerbread Active
				a(href="gingerbread-inactive.html", style="display:block;") Gingerbread Inactive
				|- 
				a(href="originals.html", style="display:block;") Originals
				a(href="churn.html", style="display:block;") Churn

				|--------------------

				br

				a(href="invite-friends-alpha.html", style="display:block;") Invite friends Alpha
				a(href="invite-friends.html", style="display:block;") Invite Friends
				a(href="code.html", style="display:block;") Code
				a(href="invited.html", style="display:block;") invited
				a(href="upgrade.html", style="display:block;") Upgrade
				a(href="waiting-list.html", style="display:block;") Waiting List
				a(href="welcome.html", style="display:block;") Welcome
				a(href="music-to-active-users.html", style="display:block;") Email to Active Users
				a(href="music-to-uninstalled-users.html", style="display:block;") Email to Uninstalled Users

				a(href="customization-active.html", style="display:block;") Customization Features to Active
				a(href="customization-inactive.html", style="display:block;") Customization Features to Inactive

				a(href="day10.html", style="display:block;") Day 10
				a(href="day14.html", style="display:block;") Day 14
