extends helpers/layout

block head
	title Originals

block content

	tr(style="background-color: #23b4f8;")
		td(valign='top', colspan='2')
			p(style='margin: 48px 0 48px 0; padding:0 50px; font-size:38px; line-height:36px; font-weight:bold; text-align:center; color:#ffffff;')
				| #aviateoriginal
	
	+spacer( 32 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Hi Aviator! 
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Thanks for responding to our post! 
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| We wanted to contact you directly, our biggest fans and <strong>#aviateoriginals</strong>, to tell you how much we appreciate your excitement and support. As you may have heard, we’re officially out of Beta and couldn’t be more pumped about <a href="http://bit.ly/1j7I5in">our recent launch</a>! We’re finally able to share Yahoo Aviate with everybody and couldn’t have done it without your awesome ideas and feedback. 
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| To celebrate, we’ve created some cool badges and social graphics for you to make your own. We’d love it if you shared the love with a retweet or <a href="https://twitter.com/intent/tweet?text=.Proud%20to%20be%20an%20%23aviateoriginal.%20Check%20it%20out,%20now%20available%20for%20everyone:%20http://bit.ly/getAviate">shout-out!</a>
			img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/originals.jpg', alt="Aviate Original Badge", style='width:100%; margin:24px 0 0 0;  text-align:center;' )


	+separator( 16 )
	+spacer( 32 )


	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 16px 0 8px 0; padding:0 50px; font-size: 22px; line-height: 24px; font-weight:bold;')
				| Download your badge!
			a(href="http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/badge_1_full.jpg")
				img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/badge_1.jpg', alt="Get your Badge", style='width:30%; margin:24px 0 0 2.5%;  text-align:center;' )
			a(href="http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/badge_2_full.jpg")
				img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/badge_2.jpg', alt="Get your Badge", style='width:30%; margin:24px 0 0 2.5%;  text-align:center;' )
			a(href="http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/badge_3_full.jpg")
				img(align='center', width='auto', src='http://aviate-website.s3-website-us-east-1.amazonaws.com/mailing-images/badge_3.jpg', alt="Get your Badge", style='width:30%; margin:24px 0 0 2.5%;  text-align:center;' )

	+spacer( 16 )
	+separator( 16 )
	+spacer( 16 )

	tr(style=backgroundColor, width="100%")
		td(valign='top', colspan='2')	
			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| As an <strong>#aviateoriginal</strong>, we’ll continue to share special news, updates and opportunities with you - we’re so glad to have you on board! 

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| Infinite <strong>#betapride</strong> & keep flyin’,

			p(style='margin: 0 0 8px 0; padding:0 50px; font-size: 14px; line-height: 22px;')
				| - Paul, Mark, Will & the Aviate Crew

	+spacer( 24 )