extends helpers/layout

block head
	title upgrade

block content



	tr(style=backgroundColor, width='600')
		td(valign='top', width='390', colspan='1')
			p(style='margin-top:50px; padding: 0 30px 0px 50px; font-size:13px; line-height: 21px;')
				| I’m happy to announce that today we’re launching the 
				a(href='http://bit.ly/1cnQz2Z', title="Aviate Blog") Aviate Beta
				| . You have been so patient and I'm glad to invite you into the Aviate community.  As soon as you upgrade your existing version of Aviate, we’ll send you an email and a push notification with your invite code.

			p(style=' margin: 0px 0 0; padding: 0 30px 0 50px; font-size:18px; line-height: 27px;')
				| <strong>Upgrade Aviate</br> to Receive Your Invite Code</strong> </br>
			p(style='padding: 10px 0 0 50px; margin-bottom:0;')
				| Happy #firstflight!
			p(style='padding:0px 0 20px 50px; margin-top:0;')
				| Paul Montoy-Wilson, Co-Founder

		include helpers/paul-face

	+separator( 3 )

	//- Post Script
	tr(style=backgroundColor, width=width)
		td(valign='top', width=width, colspan='2')
			p(style='width: 500px; margin: 30px 0 30px; padding: 0 30px 0 50px; font-size:13px; line-height: 21px;')
				| <strong>PS.</strong>  If you haven’t watched our video we hope you will now:
				a(href='http://bit.ly/19KrYkw', title="Aviate website", style='color:#3b5998; margin-left:7px;') watch it here
				| . We think it does a good job of show just how Aviate can be useful throughout your entire day :).
