extends helpers/layout

block head
	title localization-inactives

block content


	tr(width="100%")
		td(valign='top', colspan='2')
			p(style='margin: 0 0 8px 0; padding:0 24px; font-size: 14px; line-height: 22px; font-weight:bold; text-transform:uppercase;')
				| Top 3 Articles for you
	
	+separator( 16 )

	tr(style=backgroundColor, width="100%")

		{{#if link0}}
			td(valign='top', width='300px', colspan='1')
				a(href="{{#with link0}} {{link_url}} {{/with}}")
					p(style='margin: 0px 0 8px 0; font-size: 22px; line-height: 24px; font-weight:bold;')
						| {{#with link0}} {{link_title}} {{/with}}
		{{#/if}}

		{{#if link1}}
			td(valign='top', width='300px', colspan='1')
				a(href="{{#with link1}} {{link_url}} {{/with}}")
					p(style='margin: 0px 0 8px 0; font-size: 22px; line-height: 24px; font-weight:bold;')
						| {{#with link1}} {{link_title}} {{/with}}
		{{#/if}}

		{{#if link2}}
			td(valign='top', width='300px', colspan='1')
				a(href="{{#with link2}} {{link_url}} {{/with}}")
					p(style='margin: 0px 0 8px 0; font-size: 22px; line-height: 24px; font-weight:bold;')
						| {{#with link2}} {{link_title}} {{/with}}
		{{#/if}}



//td(valign='top', width='100px', colspan='1')
	a(href="{{#with link0}} {{link_url}} {{/with}}")
		img(align='center', width='199', height='192', src='https://gallery.mailchimp.com/85fa9b289574f17996df3126d/images/0f652982-e829-466a-b279-a6cff492bc49.png', alt="Check out our new update", style='width:199px; display:block; margin: 0 0 0 24px; text-align:center;' )
